/*
*   Default
*/

body{
    font-family: 'Inter';
    font-size: 17px;
    line-height: 129%;
    color: #151519;
}

img{

}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.container--header {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-weight: 800;
    font-size: 30px;
    line-height: 129%;
    color: #151519;
}

.btn {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 129.5%;
    color: #FFFFFF;
    background: #FD576C;
    border-radius: 50px;
    padding: 11px 32px;
    transition: all .3s;
}
.btn:hover{
    background: #FFFFFF;
    color: #FD576C;
}



/*
*   Header
**/



.header {
    position: fixed;
    z-index: 50;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid #ECEBEB;
    background-color: #FFFFFF;
}

.header__container {
    display: flex;
    min-height: 90px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.header__logo {
    z-index: 3;
    color: #5DBD6D;
    font-weight: 700;
    font-size: 17px;
    line-height: 129%;
    letter-spacing: 0.045em;
    text-transform: uppercase;
}

.nav {
    display: flex;
}

.nav__menu {
    display: flex;
}

.nav__menu-item:not(:last-child) {
    margin-right: 43px;
}

.nav__menu-link{
     font-weight: 600;
    font-size: 15px;
    line-height: 153%;
    opacity: 0.9;
    transition: all .3s;
}

.nav__menu-link:hover {
    color: #FD576C;
}

.nav__btn {
    color: #5DBD6D;
    padding: 9px 15px;
    background: #E6F9E6;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.nav__btn:hover{
    opacity: .7;
}



.burger {
    display: none;

}
.burger__btn{
    display: inline-block;
    cursor: pointer;
    z-index: 5;
}
.burger__line {
    border: 1px solid black;
    width: 30px;

}
.burger__line:not(:last-child) {
    margin-bottom: 6px;
}
.burger__menu{
    display: none;
}
.burger__menu--active{
    display: flex;
    width: 100%;
    height: 100vh;
    transform: translateY(0%);
    padding-top: 49px;
    position: absolute;
    z-index: 20;
    flex-direction: column;
    background-color: #ffffff;
    text-align: center;
    left: 0;
    right: 0;
    gap: 25px;
    font-size: 20px;
}


/*
*   Ran
*/



.ran {
    padding-top: 192px;
    margin-bottom: 120px;
}
.ran__container {
    display: flex;
}

.ran__content {
    margin-right: 223px;
}

.ran__title {
    padding-top: 112px;
    font-weight: 800;
    font-size: 43px;
    line-height: 129%;
    margin-bottom: 22px;
    color: #151519;
}

.ran__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #151519;
    margin-bottom: 53px;
    max-width: 350px;
}
.ran__btn {

}

.ran__image {
    
}
.ran__img {
}



/*
*   Problems
*/



.problems {
    background: #F9FAFC;
}
.problems__container {
    padding-top: 123px;
    padding-bottom: 106px;
}
.problems__title {

    margin-bottom: 50px;
}
.problems__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 50px;
}
.problems__card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 40px 30px 20px;
}
.problems__card-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 10px;
    
}
.problems__card-icon {
    margin-bottom: 10px;
}
.problems__img {
}
.problems__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 289px;
}



/*
*   Result
*/



.result {
}
.result__container {
    padding-top: 144px;
    padding-bottom: 92px;
}
.result__title{
    margin-bottom: 50px;
}
.result__food {
    display: flex;
    margin-bottom: 250px;
}
.result__food-image {
    margin-right: 97px;
}
.result__img {
}
.result__food-content {
    max-width: 426px;
}
.result__food-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 129%;
    margin-bottom: 15px;
    padding-top: 87px;
}
.result__food-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
}
.result__food-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 51px;
}
.result__food-btn {
}
.btn {
}
.result__content {
}


.result__cards {
    display: flex;
    gap: 30px;
}
.result__card {
    flex: 1 1 33%;
    border: 1px solid #ECEBEB;
    border-radius: 10px;
    padding: 45px 21px 74px 37px;
}
.result__card-icon {
    margin-bottom: 22px;
    min-height: 101px;
}
.result__card-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 22px;
    max-width: 211px;
}
.result__card-list {
    
}
.result__card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    padding-left: 22px;
}
.result__card-text:not(:last-child){
    margin-bottom: 20px;
}
.result__card-text::before{
    position: absolute;
    content: "";
    background: #FD576C;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    left: -14px;
    top: 8px;
}



/*
*   Addiction
*/



.addiction {
    background: #F9FAFC;
}
.addiction__container {
    padding-top: 158px;
    padding-bottom: 158px;
}
.container {
}
.addiction__title {
    margin-bottom: 50px;
}
.addiction__content {
    display: flex;
}
.window {
    max-width: 445px;
    border-radius: 10px;
    margin-right: 91px;
    flex-grow: 1;

}
.window__header {
    border: 1px solid #ECEBEB;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #5DBD6D;
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

}
.window__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}
.window__settings {
}
.window__settings-icon {
}
.window__main {
    display: flex;
    padding: 61px 0;
    padding-left: 19px;
    padding-right: 11px;
    background-color: #FFFFFF;
    justify-content: space-between;
    border: 1px solid #ECEBEB;
}
.window__list {
    font-weight: 400;
    font-size: 14.2856px;
    line-height: 150%;
    color: #777575;
    flex-grow: 1;
    margin-right: 26px;

}
.window__item {
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 8px;
    margin-bottom: 19px;
    position: relative;
}
.window__item::after{
    position: absolute;
    content: "";
    width: 12px;
    height: 8px;
    background-image: url(/img/after.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 15px;
    right: 0;

}
.window__image {
    background: #F9FAFC;
    border-radius: 11px;
    padding: 32px 21px;
    width: 231px;
}
.window__img {
}
.addiction__elements {
}



.elements {
    display: grid;
    grid-template-columns: repeat(2, 255px);
    column-gap: 75px;
    row-gap: 40px;
    grid-template-rows: repeat(2, 1fr);
}
.element {
}
.element__icon {
    margin-bottom: 10px;
}
.element__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
.element__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}




/*
*   Choice
*/



.choice {
}
.choice__container {
    padding-top: 129px;
    padding-bottom: 250px;
}

.choice__title {
    margin-bottom: 49px;
}
.choice__cards {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.choice__card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ECEBEB;
    border-radius: 10px;
    flex: 1 1 33%;
}
.choice__card-header {
    background: #5DBD6D;
    border-radius: 10px 10px 0px 0px;
    padding: 35px 0 25px 27px;
}
.choice__card-time {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.choice__prices {
}
.choice__price--active{
    display: inline-block;
    font-weight: 800;
    font-size: 30px;
    line-height: 129%;
    color: #FFFFFF;
    margin-right: 23px;
}
.choice__price--inactive{
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: #FFFFFF;
}
.choice__card-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 18px 36px 27px;
    flex: 1 1 100%;

}

.choice__list {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    flex: 1 1 100%;
}
.choice__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    position: relative;
}
.choice__item:not(:last-child){
    margin-bottom: 22px;
}
.choice__item:last-child{
    margin-bottom: 37px;
}
.choice__item::before {
    content: '';
    position: absolute;
    content: "";
    width: 17px;
    height: 13px;
    background-image: url(/img/after.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 5px;
    left: -30px;
}
.choice__item--inactive {
    color: #A8A7A7;
}
.choice__item--inactive::before{
    content: '';
    position: absolute;
    content: "";
    width: 15px;
    height: 14px;
    background-image: url(/img/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 5px;
    left: -30px;
}
.choice__btn {
    max-width: 152px;

}
.choice__desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%
}



/*
*   Review
*/



.review {
    margin-bottom: 173px;
}
.review__container {
}

.review__title {
    margin-bottom: 100px;

}
.review__content {
    display: flex;
    gap: 30px;
}
.review__card {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    position: relative;
    border: 1px solid #ECEBEB;
    border-radius: 10px;
    padding: 80px 58px  45px 45px;
}
.review__card::before{
    position: absolute;
    content: '';
    background-image: url(/img/review/Ellipse\ 301.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    left: 45px;
    top: -50px;
}
.review__card--man::before{
    background-image: url(/img/review/Ellipse\ 302.png);
}
.review__card-icon {
}
.review__card-text {
    flex: 1 1 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 46px;
}
.review__card-text:last-child {
    flex: 1 1 100%;
}

.review__rating {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    border-top: 1px solid #ECEBEB;
 
}
.review__rate{
    display: flex;
    align-items: flex-end;
}

.review__name{
    font-weight: 600;
    font-size: 15px;
    line-height: 153%;
    color: #777575;
}
.review__date{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #777575;
}

/*
*   Diet
*/



.diet {
    background: #F9FAFC;
    padding: 105px 0;
}
.diet__inner {
    display: flex;
    flex: 1 1 50%;
    gap: 30px;
    margin-bottom: 44px;
}

.diet__image {
}
.diet__content {
    padding-top: 78px;
    max-width: 474px;
}
.diet__title {
    margin-bottom: 20px;
}
.title {
}
.diet__text {
    margin-bottom: 29px;
}
.diet__btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 129.5%;
    color: #FD576C;


}


.diet__cards {
    display: flex;
    flex: 0 1 50%;
    gap: 30px;
}
.diet__card {
    padding: 20px 89px 30px 20px;
    background-color: white;
    max-width: 540px;
    font-size: 16px;
    line-height: 150%;
}
.diet__card-icon {
    margin-bottom: 10px;
}
.diet__card-title {
    font-weight: 600;
    margin-bottom: 10px;
}
.diet__card-text {
    font-style: normal;
    font-weight: 400;
}



/*
*   More
*/



.more {
}
.more__container {
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
}
.more__content {
    padding-top: 134px;
    max-width: 393px;
}
.more__title {
    margin-bottom: 30px;
}
.more__text {
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.more__btn {
}
.btn {
}
.more__image {
}



/*
*   Footer
*/



.footer {
    border-top: 1px solid #ECEBEB;
}
.footer__container {
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo{

}
.footer__list {
    display: flex;
    gap: 93px;
    padding-top: 38px;
}
.footer__list-item {
}
.footer__list-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 153%;
    opacity: 0.9;
    transition: all .3s;
}
.footer__list-link:hover{
    color: #FD576C;
}



/*
*   Mobile adaptation
*/




@media(max-width: 1200px){
    .nav__menu{
        display: none;
    }
    .result__card{
        flex-wrap: wrap;
    }
    .elements {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 75px;
        row-gap: 40px;
        grid-template-rows: repeat(2, 1fr);
    }
    .burger{
        display: inline-block;
    }
    
}

@media(max-width: 1100px){
    .ran__content{
        margin-right: 150px;
    }
    .problems__cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 25px;
    }
    .result__food-image{
        margin-right: 35px;
    }
    .window {
        margin-right: 45px;
      }
    .choice__price--active {
        display: block;
        font-weight: 800;
        font-size: 30px;
        line-height: 129%;
        color: #FFFFFF;
    }
    
}
@media(max-width: 960px){
    .diet__inner {
        display: flex;
        gap: 25px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .diet__cards{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .diet__card{
        padding: 20px 20px 30px 20px;
    }
    .more__container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center
    }

}
@media(max-width: 900px){
    .ran__content{
        margin-right: 50px;
    }
    .result__cards{
        flex-wrap: wrap;
        gap: 15px;
    }
    .result__card{
        padding: 25px 21px 44px 37px;
        text-align: center;
    }
    .result__card-subtitle{
        display: block;
        max-width: 100%;
    }
    .addiction__container{
        text-align: center;
    }
    .addiction__content{
        flex-direction: column;
        align-items: center;
    }
    .elements{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 25px;
    }
    .window{
        margin-right: 0;
        margin-bottom: 45px;
    }
}

@media(max-width: 800px){
    .header {
        margin-bottom: 75px;
      }
    .ran__content{
        margin-right: 50px;
    }
    .ran__container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .ran__image{
        max-width: 80%;
    }
    .ran__content{
        margin-right: 0;
        text-align: center;
    }
    .ran__title{
        padding-top: 61px;
    }
    .ran__text{
        margin-bottom: 25px;
    }
    .result__food{
        flex-direction: column;
        align-items: center;
    }
    .result__food-image{
        margin-right: 0;
        max-width: 75%;
    }
    .result__food-content{
        text-align: center;
    }
    .choice__cards{
        flex-direction: column;
    }
    .review__content {
        flex-direction: column;
        gap: 25px;
    }
    .review {
        margin-bottom: 60px;
      }
      .diet__content{
        padding-top: 35px;
    }
    .more__content{
        padding-top: 35px;
    }
    .more__container{
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .footer__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        padding-top: 38px;
      }

}


@media(max-width: 500px){
    .problems__cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 25px;
    }
    .problems__card-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        max-width: 100%;
      }
      .result__container {
        padding-top: 60px;
        padding-bottom: 50px;
      }
      .result__food {
        margin-bottom: 150px;
      }
      .addiction__container {
        padding-top: 58px;
        padding-bottom: 58px;
      }
      .problems__container {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .result__food-title{
            padding-top: 35px;
      }
      .elements{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 25px;
    }
    .element__text{
        max-width: 250px;
    }
    .window{
        max-width: 100%;
    }
    .choice__container {
        padding-top: 50px;
        padding-bottom: 150px;
      }
      .diet__inner {
        margin-bottom: 60px;
      }
}

